@use "../abstracts/variables" as var;

button {
  font: inherit;
  padding: 0.8rem 1rem;
  border-radius: var.$radius-pill;
  cursor: pointer;
  border: none;
  background-color: var.$color-primary;
  font-weight: 700;
  box-shadow: var.$color-shadow 0px 4px 6px -1px, var.$color-shadow 0px 2px 4px -1px;
}

.account-danger-zone {
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid #ddd;
  text-align: center;
}

#deleteAccountButton {
  margin-top: 1rem;
  color: #882222;
}