@use "../abstracts/variables" as var;

form {
  display: grid;
  gap: var.$space-sm;
  margin-top: var.$space-md;
}

input {
  font: inherit;
  padding: 0.8rem 1rem;
  border-radius: var.$radius-pill;
  border: 1px solid var.$color-border;
}