@use "../abstracts/variables" as var;

.site-header {
  text-align: center;
  padding: var.$space-xxl var.$space-md var.$space-xl;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
}


.site-header--dashboard {
  width: min(100% - 2rem, var.$max-width);
  margin: 0 auto;
  display: flex;
  gap: var.$space-md;
  align-items: center;
  justify-content: space-between;
}