@use "../abstracts/variables" as var;

.auth-section,
.dashboard {
  width: min(100% - 2rem, var.$max-width);
  margin: 0 auto;
}

.auth-section {
  display: grid;
  gap: var.$space-lg;
}

.dashboard {
  margin-top: var.$space-xl;
}

.planner-section {
  margin-top: var.$space-md;
}

.hidden {
  display: none;
}

@media (min-width: 700px) {
  .auth-section {
    grid-template-columns: repeat(2, 1fr);
  }
}