@use "../abstracts/variables" as var;

.auth-section,
.dashboard {
  width: min(100% - 2rem, var.$max-width);
  margin: 0 auto;
}

.auth-section {
  display: grid;
  gap: var.$space-lg;
}

.dashboard {
  margin-top: var.$space-xl;
}

.planner-section {
  margin-top: var.$space-md;
}

.hidden {
  display: none;
}

@media (min-width: 700px) {
  .auth-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Dashboard layout */

.dashboard-layout {
  width: min(100% - 2rem, var.$max-width);
  margin: 0 auto;
  display: grid;
  gap: var.$space-lg;
}

.week-section {
  display: grid;
  gap: var.$space-lg;
}

.section-heading {
  display: grid;
  gap: var.$space-md;
}

.week-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.week-controls {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(0.3rem, 2vw, 1rem);
  align-items: center;
  justify-content: space-between;
}

#previousWeekButton,
#nextWeekButton,
#currentWeekButton {
  font-size: clamp(0.75rem, 2vw, 1rem);

  padding: clamp(0.3rem, 1vw, 0.6rem) clamp(0.5rem, 2vw, 1rem);

  white-space: nowrap;
}

#currentWeekLabel {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.current-week-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.week-planner {
  display: grid;
  gap: var.$space-md;
}

.todo-panel {
  margin-top: var.$space-lg;
}

@media (min-width: 900px) {
  .dashboard-layout {
    grid-template-columns: 2fr 1fr;
    align-items: start;
  }

  .todo-panel {
    margin-top: 0;
  }
}